// Nextflow config for running on the MIT Engaing HPC cluster
params {
    config_profile_description = 'MIT Engaing HPC cluster profile.'
    config_profile_contact = 'Phil Palmer (@PhilPalmer)'
    config_profile_url = "https://engaging-web.mit.edu/eofe-wiki/"
}
singularity {
    enabled = true
    autoMounts = true
}
process {
    executor = 'slurm'
    clusterOptions = '-p sched_mit_hill'
    // Launch intensive assembly processes on newnodes partition with max resources
    // TODO: Add this pipeline-specific config to the offical nf-core/contigs repo https://github.com/nf-core/configs#adding-a-new-pipeline-specific-config
    withName: SPADES {
        clusterOptions = '-p newnodes'
        cpus           = 20
        memory         = 250.GB
        time           = 12.h
        errorStrategy  = { task.exitStatus in [143,137,1] ? 'retry' : 'finish' }
        maxRetries     = 3
    }
    withName: MEGAHIT {
        clusterOptions = '-p newnodes'
        cpus           = 20
        memory         = 250.GB
        time           = 12.h
        errorStrategy = { task.exitStatus in [143,137,104,134,139,250] ? 'retry' : 'finish' }
        maxRetries     = 3
    }
}
params {
    max_memory = 64.GB
    max_cpus = 16
    max_time = 12.h
}