/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running Illumina analysis
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files

    Use as follows:
        nextflow run nf-core/mag -c conf/illumina.config -profile <docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Configuration for NAO initial Illumina samples'
    config_profile_description = 'Analyse the initial NAO Illumina samples e.g. from exp4.006 (221014Esv_D22)'

    // Input data
    input                               = 'data/exp4.006_samplesheet.csv'
    outdir                              = 'results_illumina'
    clip_tool                           = 'adapterremoval'
    adapterremoval_adapter1             = 'CTGTCTCTTATACACATCTCCGAGCCCACGAGACNNNNNNNNNNATCTCGTATGCCGTCTTCTGCTTG'
    adapterremoval_adapter2             = 'CTGTCTCTTATACACATCTGACGCTGCCGACGANNNNNNNNNNGTGTAGATCTCGGTGGTCGCCGTATCATT'
    adapterremoval_trim_quality_stretch = true
    kraken2_db                          = 'ftp://ftp.ccb.jhu.edu/pub/data/kraken2_dbs/minikraken_8GB_202003.tgz'
    skip_megahit                        = true
    skip_spades                         = true
    gtdb                                = false
    skip_binning                        = true
    skip_prokka                         = true
    skip_spadeshybrid                   = true
    skip_quast                          = true
    skip_prodigal                       = true
    skip_metabat2                       = true
    skip_maxbin2                        = true
    skip_busco                          = true
    // coassemble_group                    = true
    // spades_options                      = '-k 77 --only-assembler'
    // cat_db                              = 'https://tbb.bio.uu.nl/bastiaan/CAT_prepare/CAT_prepare_20210107.tar.gz'
    // gtdb                                = false
}
