/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running Rothman test analysis
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files

    Use as follows:
        nextflow run nf-core/mag -profile rothman_test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test a single sample from Rothman et al. dataset https://doi.org/10.1128/AEM.01448-21'
    config_profile_description = 'Analyse a single sample from the Rothman dataset from the HTP site'

    // Input data
    input                         = "/nobackup1/phil_p/STRONG/STRONG_Runs/RothmanUnenriched/SRR14530767/SRR14530767_{1,2}.fastq.gz"
    outdir                        = 'results_rothman_test'
    coassemble_group              = true
    skip_megahit                  = true
}