/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running Rothman HTP analysis
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files

    Use as follows:
        nextflow run nf-core/mag -profile rothman_htp,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Rothman et al. dataset from the HTP site https://doi.org/10.1128/AEM.01448-21'
    config_profile_description = 'Analyse samples from the Rothman dataset from the HTP site'

    // Input data
    input                         = 'data/rothman_htp_samplesheet.csv'
    outdir                        = 'results_rothman_htp'
    coassemble_group              = true
    skip_megahit                  = true
}